<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss,UTC}|%-5.5level|%-25.-25logger{0}|%-360.-360msg| %-25.-25thread |%20.20method|%caller{1}</pattern>
		</encoder>
	</appender>

	<logger name="com.x" level="debug" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<root level="info">
		<appender-ref ref="console" />
	</root>

</configuration>